@{
    ViewBag.Title = "Meus Questionários";
}


<table class="table">
    <tbody>
        <tr>
            <td>Nome:</td>
            <td>@ViewData["Nome"] </td>
        </tr>
        <tr>
            <td>Data Inicio:</td>
            <td>@ViewData["DataInicio"]</td>
        </tr>
        <tr>
            <td>Mensagem Feedback</td>
            <td>@ViewData["msg"] </td>
        </tr>
    </tbody>
</table>